### Random Forest Regressor - Metro Traffic

In [1]:
import pandas as pd

In [27]:
data = pd.read_csv("data/metro.csv")

In [5]:
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [28]:
data = data.drop(['weather_description'],axis=1)

In [10]:
import datetime

In [30]:
data['date_time'] = data['date_time'].apply(lambda x : int(x.split()[1].split(":")[0]))

In [31]:
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,9,5545
1,None,289.36,0.0,0.0,75,Clouds,10,4516
2,None,289.58,0.0,0.0,90,Clouds,11,4767
3,None,290.13,0.0,0.0,90,Clouds,12,5026
4,None,291.14,0.0,0.0,75,Clouds,13,4918

In [33]:
data_bkup = data.copy()

In [34]:
data = pd.get_dummies(data)

In [35]:
data.head()

,temp,rain_1h,snow_1h,clouds_all,date_time,traffic_volume,holiday_Christmas Day,holiday_Columbus Day,holiday_Independence Day,holiday_Labor Day,...,weather_main_Clouds,weather_main_Drizzle,weather_main_Fog,weather_main_Haze,weather_main_Mist,weather_main_Rain,weather_main_Smoke,weather_main_Snow,weather_main_Squall,weather_main_Thunderstorm
0,288.28,0.0,0.0,40,9,5545,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,289.36,0.0,0.0,75,10,4516,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,289.58,0.0,0.0,90,11,4767,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,290.13,0.0,0.0,90,12,5026,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,291.14,0.0,0.0,75,13,4918,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [36]:
data.isna().sum()

temp                                 0
rain_1h                              0
snow_1h                              0
clouds_all                           0
date_time                            0
traffic_volume                       0
holiday_Christmas Day                0
holiday_Columbus Day                 0
holiday_Independence Day             0
holiday_Labor Day                    0
holiday_Martin Luther King Jr Day    0
holiday_Memorial Day                 0
holiday_New Years Day                0
holiday_None                         0
holiday_State Fair                   0
holiday_Thanksgiving Day             0
holiday_Veterans Day                 0
holiday_Washingtons Birthday         0
weather_main_Clear                   0
weather_main_Clouds                  0
weather_main_Drizzle                 0
weather_main_Fog                     0
weather_main_Haze                    0
weather_main_Mist                    0
weather_main_Rain                    0
weather_main_Smoke                   0
weather_main_Snow                    0
weather_main_Squall                  0
weather_main_Thunderstorm            0
dtype: int64

In [37]:
X = data.drop("traffic_volume",axis=1)
y = data['traffic_volume']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42) #0.67 data will be for training.

In [39]:
from sklearn.model_selection import GridSearchCV #GridSearchCV is for parameter tuning
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()

In [40]:
n_estimators=[75,100] #number of decision trees in the forest, default = 100
criterion=['mse'] #criteria for choosing nodes default = 'mse'
max_depth=[3,5,10] #maximum number of nodes in a tree default = None (it will go till all possible nodes)
#max_features = ['sqrt']
parameters={'n_estimators': n_estimators,'criterion':criterion,'max_depth':max_depth} #this will undergo 2*1*3 = 6 iterations

In [41]:
RFR_reg = GridSearchCV(regressor, parameters)
RFR_reg.fit(X_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['mse'], 'max_depth': [3, 5, 10],
                         'n_estimators': [75, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [43]:
RFR_reg.best_params_

{'criterion': 'mse', 'max_depth': 10, 'n_estimators': 75}

In [44]:
regressor = RandomForestRegressor(criterion = "mse",max_depth = 10 , n_estimators = 75)
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=75, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [45]:
ypred = regressor.predict(X_test)

In [46]:
from sklearn.metrics import mean_squared_error #calculating MSE
MSE=mean_squared_error(ypred,y_test)
print("MSE:",MSE)

MSE: 837598.6623692701

In [47]:
import math
math.sqrt(MSE)

915.2041643094016